@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

body {
    /* min-height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: start;
}

/* -------------------- Explore page --------------------- */
.front-heading {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
}

.special-heading {
    /* font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-style: normal; */
    font-weight: 700;
    text-decoration: underline;
}

/* -------------------- Explore page --------------------- */

/* -------------------- Every component's parent class ------------------- */
.container {
    /* border: 2px solid blue; */
    margin-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100% !important; */
}

/* -------------------- Every component's parent class ------------------- */


.categoryHeading {
    width: 100%;
    display: flex;
    align-items: start;
}

.exploreMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: flex-start;
    max-width: 100vw;
    /* border: 1px solid red; */
}

.exploreCategories {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* ---------------------------------- CSS for Contact Page ------------------------------- */
.messageForm {
    margin-top: 0.5rem;
}

.messageDiv {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.messageLabel {
    margin-bottom: 0.5rem;
}

.textarea {
    box-shadow: rgba(0, 0, 0, 0.11);
    border: none;
    background: #ffffff;
    border-radius: .6rem;
    height: 5rem;
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: .5rem .8rem;
    font-size: 1rem;
    border: 1px solid grey;
}

.leafletContainer {
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

@media (min-width: 1024px) {
    .leafletContainer {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .exploreCategories {
        flex-direction: column;
    }
}

/* ------------------------ Swiper --------------------------- */
.swiper-container {
    min-height: 225px;
    height: 23vw;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

.swiperSlideDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiperSlideImg {
    width: 100%;
    object-fit: cover;
}

.swiperSlideText {
    color: #ffffff;
    position: absolute;
    top: 70px;
    left: 0;
    font-weight: 600;
    max-width: 90%;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
}

@media (min-width: 1024px) {
    .swiperSlideText {
        font-size: 1.75rem;
    }
}

.swiperSlidePrice {
    color: #000000;
    position: absolute;
    top: 143px;
    left: 11px;
    font-weight: 600;
    max-width: 90%;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

@media (min-width: 1024px) {
    .swiperSlidePrice {
        font-size: 1.25rem;
    }
}


/* -------------------------------- Any kind of Listing of Posts ------------------------------ */
.catrgoryListings {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

/* -------------------------------- Any kind of Listing of Posts ------------------------------ */


/* -------------------------------- Explore page ------------------------------ */
.exploreHeading,
.exploreCategoryHeading {
    font-weight: 700;
}

.exploreCategoryHeading {
    margin-top: 3rem;
}

.swiper-container {
    min-height: 225px;
    height: 23vw;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

.swiperSlideDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiperSlideImg {
    width: 100%;
    object-fit: cover;
}

.swiperSlideText {
    color: #ffffff;
    position: absolute;
    top: 70px;
    left: 0;
    font-weight: 600;
    max-width: 90%;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
}

@media (min-width: 1024px) {
    .swiperSlideText {
        font-size: 1.75rem;
    }
}

.swiperSlidePrice {
    color: #000000;
    position: absolute;
    top: 143px;
    left: 11px;
    font-weight: 600;
    max-width: 90%;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

@media (min-width: 1024px) {
    .swiperSlidePrice {
        font-size: 1.25rem;
    }
}

.explore-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

@media (max-width: 420px) {
    .explore-slider {
        width: 95vw;
    }
}

@media (max-width: 720px) {
    .explore-slider {
        width: 95vw;
    }
}


/* -------------------------------- Explore page ------------------------------ */